<!DOCTYPE html>

<!--[if lt IE 7]> <html lang="en" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class=""><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Boilerplate</title>

	<%- partial('_shared/assetsLoader.ejs', { folder: '/assets', ext: 'css' }) %>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

<div class="app">
	<div class="app__content">
		<%- yield %>
	</div>
</div>

<%- partial('_shared/assetsLoader.ejs', { folder: '/assets', ext: 'js' }) %>

</body>
</html>